.head{
    /* text-align: center; */
    margin: 5px;
    padding-top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: darkviolet;
}

.topic{
    padding: 5px;
    /* margin: 4px; */
    font-size: x-large;
    font-weight: bold;
}

.subtop{
    margin-top: 16px;
    font-size: large;
    font-weight: bolder;
    color: brown;
}

.chair{
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
}

.chair_img{
    width: 35rem;
    height: 30rem;
}

.chairman{
    display: flex;
    position: absolute;
    top: 53rem;
    left: 43rem;
    right: 9rem;
    font-size: large;
    color: black;
}

.dire{
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
}

.img-row {
    display: flex;
    justify-content: space-between; /* this will add equal space between each image */
  }

.dire_img{
    width: 35rem;
    height: 30rem;
}

.memb{
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    font-size: 60px;
    font-weight: bolder;
    color: black;
}

.img-memb{
    margin-top: 10px;
    width: 25rem;
    height: 30rem;
}